/* stili generali */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root{
    font-family:sans-serif;
 }

 header{
    height: 80px;
    
 }

 footer{
    height: 80px;
 }

 main{
    background-color: aquamarine;
    height: calc(100vh - 160px);
 }

 .container{
    max-width: 80%;
    margin: 0 auto;
 }

 /* header */

 header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .container div{
    display: flex;
    align-items: center;
 }

 header div img{
    height: 80px;
  
 }

 header h1{
    display: inline-block;
 }

 header button{
    padding:5px;
    
 }

 /* footer */

 footer span{
    font-size: 18px;
    font-weight: bold;
    line-height: 80px;
 }

 
 
 